
var KnownGetMethodsDecoder = map[string][]func(tlb.VmStack) (string, any, error){
{{- range $method := .GetMethods}}
    "{{ $method.Name }}": {
        {{- range $decoder := $method.Decoders }}
             {{- $decoder -}},
        {{- end }}
    },
{{- end }}
}

var KnownSimpleGetMethods = map[int][]func(ctx context.Context, executor Executor, reqAccountID ton.AccountID) (string, any, error){
{{- range $id, $methods := .SimpleMethods}}
    {{ $id }}: {
        {{- range $name := $methods }}
             {{- $name -}},
        {{- end }}
    },
{{- end }}
}

var resultTypes = []interface{}{
{{- range $method := .GetMethods }}
    {{- range $name, $type := $method.ResultTypes }}
        &{{ $name }}{},
    {{- end }}
{{- end }}
}


type Executor interface {
	RunSmcMethodByID(ctx context.Context, accountID ton.AccountID, methodID int, params tlb.VmStack) (uint32, tlb.VmStack, error)
}




{{- range $method := .GetMethods }}
{{- range $name, $type := $method.ResultTypes }}
	type {{ $name }} {{ $type }}
{{- end }}

	 {{ $method.Body }}
{{- end }}

