
const (
    IUnknown ContractInterface = iota
{{- range $name, $iface := .Interfaces }}
	{{ $name }}
{{- end }}
)

func (c ContractInterface) String() string {
switch c {
   {{- range $name, $iface := .Interfaces }}
   case {{ $name }}:
       return "{{ $iface }}"
  {{- end }}
  default:
      return "unknown"
  }
}

func ContractInterfaceFromString(s string) ContractInterface {
switch s {
   {{- range $name, $iface := .Interfaces }}
   case "{{ $iface }}":
       return {{ $name }}
  {{- end }}
  default:
      return IUnknown
  }
}


var methodInvocationOrder = []MethodDescription{
{{- range $method := .InvocationOrder }}
	{
	    Name: "{{ $method.Name }}",
		InvokeFn: {{ $method.InvokeFnName }},

	},
{{- end }}
}

var contractInterfacesOrder = []InterfaceDescription{
{{- range $interface := .InterfaceOrder }}
{{- if $interface.Results }}
    {
        Name: {{ $interface.Name }},
        Results: []string{
        {{- range $r := $interface.Results }}
            "{{ $r }}",
        {{- end }}
        },
    },
{{- end }}
{{- end }}
}

func (c ContractInterface) recursiveImplements(other ContractInterface) bool {
	switch c {
	{{- range $interface, $inherits := .Inheritance }}
	case {{ $interface }}:
		return {{ $inherits }}.Implements(other)
    {{- end }}
	}
	return false
}

var knownContracts = map[ton.Bits256]knownContractDescription{
{{- range $hash, $interface := .KnownHashes }}
    ton.MustParseHash("{{ $hash }}"):  {
    contractInterfaces: []ContractInterface{ {{ $interface.Name }} },
    getMethods: []InvokeFn{
{{- range $method := $interface.GetMethods }}
        {{ $method }},
        {{- end }}
    },
    },

{{- end }}
}