
{{- range  $tag, $ops := .OperationsByTag }}
    {{- range $op := $ops}}
      func decode{{ $op.GolangOpcodeName }}Payload(j *Payload, c *boc.Cell) error {
      var res {{ $op.GolangTypeName }}
       err := tlb.Unmarshal(c, &res)
       if err == nil {{if $op.FixedLength }}  && completedRead(c) {{end}} {
        j.SumType = {{ $op.GolangOpcodeName }}
        j.Value = res
        return nil
      }
      return err
      }
    {{ end }}
{{- end }}


const (
{{- range  $tag, $ops := .OperationsByTag }}
    {{- range $op := $ops}}
       {{ $op.GolangOpcodeName }} PayloadOpName = "{{ $op.OperationName }}"
    {{- end }}
{{- end }}

{{ range  $tag, $ops := .OperationsByTag -}}
    {{- range $op := $ops}}
       {{ $op.GolangOpcodeName }}Code PayloadOpCode = 0x{{ printf "%08x" $op.Tag }}
   {{- end }}
{{- end }}
)

var KnownPayloadTypes = map[string]any{
{{- range  $tag, $ops := .OperationsByTag }}
    {{- range $op := $ops}}
       {{ $op.GolangOpcodeName }}: {{ $op.GolangTypeName }}{},
   {{- end }}
{{- end }}

}
var PayloadOpCodes = map[PayloadOpName]PayloadOpCode{
{{- range  $tag, $ops := .OperationsByTag }}
    {{- range $op := $ops}}
       {{ $op.GolangOpcodeName }}: {{ $op.GolangOpcodeName }}Code,
   {{- end }}
{{- end }}
}

func (c ContractInterface) Payloads() map[PayloadOpCode][]func(*Payload, *boc.Cell) error {
    switch c {
    {{- range  $iface, $opsByTag := .OperationsByIface }}
        case {{ $iface }}: return map[PayloadOpCode][]func(*Payload, *boc.Cell) error{
        {{- range $tag, $ops := $opsByTag}}
              {{- if eq (len $ops) 1}}
                   {{- range $op := $ops}}
                      {{ $op.GolangOpcodeName }}Code: {decode{{ $op.GolangOpcodeName }}Payload},
                   {{- end}}
               {{- else}}
                   {{ $tag.Val }}: {
                       {{- range $op := $ops}}
                            decode{{ $op.GolangOpcodeName }}Payload,
                       {{- end}}
                   },
              {{- end }}
        {{- end }}
        }
    {{- end }}
    default:
        return nil
    }
}

var funcPayloadDecodersMapping = map[PayloadOpCode][]func(*Payload, *boc.Cell) error{
{{- range  $tag, $ops := .OperationsByTag }}
    {{- if eq (len $ops) 1}}
        {{- range $op := $ops}}
           {{ $op.GolangOpcodeName }}Code: {decode{{ $op.GolangOpcodeName }}Payload},
        {{- end}}
    {{- else}}
        {{ $tag.Val }}: {
            {{- range $op := $ops}}
                 decode{{ $op.GolangOpcodeName }}Payload,
            {{- end}}
        },
   {{- end }}
{{- end }}
}


{{- range  $tag, $ops := .OperationsByTag }}
    {{- range $op := $ops}}
       {{ $op.Code }}
    {{- end }}
{{- end }}